<div class="aboutus-section">
        </br>
        </br>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="aboutus">
                        <h2 class="aboutus-title">About Us</h2>
                        <p class="aboutus-text">A Lighthouse Labs project, that is built with Ruby On Rails (ROR).</p>
                        <p class="aboutus-text">This is how much we are dedicated to bring the seamless user experience to you, just like your repair guy around the corner!</p>
                        <a class="aboutus-more" href="#">read more</a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="aboutus-banner">
                        <img src="http://themeinnovation.com/demo2/html/build-up/img/home1/about1.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-5 col-sm-6 col-xs-12">
                    <div class="feature">
                        <div class="feature-box">
                            <div class="clearfix">
                                <div class="iconset">
                                    <span class="glyphicon glyphicon-cog icon"></span>
                                </div>
                                <div class="feature-content">
                                    <h4>Original Bootstrap Design by: </h4>
                                    <p><%= link_to 'Bootstrap 3.0.0 Snippet by jeevan123456', 'https://bootsnipp.com/snippets/Ga5nR' %></p>
                                </div>
                            </div>
                        </div>
                        <div class="feature-box">
                            <div class="clearfix">
                                <div class="iconset">
                                    <span class="glyphicon glyphicon-cog icon"></span>
                                </div>
                                <div class="feature-content">
                                    <h4>Reliable services</h4>
                                    <p>Are you interested in switching from Ruby to Node? Or vice versa? Contact <strong>Jason now! Write to zeipar@gmail.com</strong></p>
                                </div>
                            </div>
                        </div>
                        <div class="feature-box">
                            <div class="clearfix">
                                <div class="iconset">
                                    <span class="glyphicon glyphicon-cog icon"></span>
                                </div>
                                <div class="feature-content">
                                    <h4>Best timing for job hunting</h4>
                                    <p>That's right, it's all about rails, all about being a junior dev, and struggling to get a job amidst COVID-19. Job opportunites, Ah!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>